:root{
    --primary: #011D20;
    --secundary: #340300;
    --white-trasparent: rgba(255, 255, 255, 0.582);
}
html, body{
    margin: 0;
    padding: 0;

}
.container{
    width: 1000px;
    margin: 0 auto;
}
header{
    background-color: var(--primary);
}
header .logo svg{
    fill: var(--white-trasparent);
    width: 65px;
    display:flex;
}
#navbarsite{
    margin-left: 50px;
}
.navbar-nav .nav-item .nav-link{
    color: var(--white-trasparent);
}
.navbar-nav .nav-item .nav-link:hover{
    color: grey;
}
.form-control{
    width: 200px;
}
.banner img{
    width: 100%;
    height: 320px;
}
