:root{
    --primary: #011D20;
    --secundary: #85a9f0;
    --white-trasparent: rgba(255, 255, 255, 0.582);
}
html, body{
    margin: 0;
    padding: 0; 
    background-color: var(--primary);
}
header{
    background-color: var(--primary);
}
header .logo svg{
    fill: var(--white-trasparent);
    width: 65px;
    display:flex;
}
#navbarsite{
    margin-left: 30px;
}
.logo{
    margin-left: 160px;
}
.navbar-nav .nav-item .nav-link{
    color: var(--white-trasparent);
}
.navbar-nav .nav-item .nav-link:hover{
    color: grey;
}
.form-control{
    width: 200px;
    margin-right: 100px;
}