
.container p{
    color: var(--white-trasparent);
    text-align: justify;
} 
.desc{
    width: 600px;
    margin-left: 20px;
}
.carousel-inner {
    width: 50%;
}
#carouselhome{
    padding: 5px;
    margin-top: 40px;
    display: flex;
}
#carouselhome li{
    margin-bottom: 30px;

}
.carousel-indicators{
    margin-top: -10px;
    z-index: 0;
}
.carousel-control-prev{
    margin-right: 50px;
    margin-top: 170px;
}
.carousel-control-next{
    margin-top: 170px;
}
.section1{
    background-color: #0000002f ;
    padding: 22px;
}
.section1 h1{
    color: white;
}
 svg{
    width: 20px;
}
svg:hover{
    fill: yellow;
    width: 25px;
}
.banner-compra{
    margin: auto;
    display: block;
    margin-bottom: 30px;
    cursor: pointer;
}
.section2{
    margin-top: 50px;
}
.section2 hr{
    height: -2px;
    background-color: white;
}
.section2 h4{
    margin-top: 50px;
    margin-bottom: 20px;
    color: white;
}

.req{
    display: flex;
    justify-content: space-between;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}
.modal .content{
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    height: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal .content form label{
    font-size: 15px;
}
.modal .content form input{
    width: 300px;
}
.modal .content form{
    display: flex;
    flex-direction: column;
}
