.container{
    margin: auto;
}
.banner_jogos{
    margin: 0;
}
.jogosComprar{
    margin-top: 100px;
    display: flex;
    width: 860px;

}
.card{
    background-color: rgb(59, 75, 75);
}
.card h5, p{
    color: white;
}
.card .btn{
    background-color: white;
}
#cardStray, #cardStray2{
    height: 220px;
}
#card-bodyStray{
    display: flex;
    justify-content: space-between;
}
#compraStray{
    height: 35px;
}
.jogosComprar1{
    margin-top: 100px;
    display: flex;
    width: 860px;
    margin-bottom: 100px;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}
.modal .content{
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    height: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal .content form label{
    font-size: 15px;
}
.modal .content form input{
    width: 300px;
}
.modal .content form{
    display: flex;
    flex-direction: column;
}

